<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         verbose="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         bootstrap="vendor/autoload.php"
        >
    <testsuites>
        <testsuite name="PredictionIO Unit Test Suite">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
